.app {
  text-align: center;
  --color-0: #560f03;
  --color-1: #6c0318;
  --color-2: #b5202e;
  --color-3: #ff9000;
  --color-4: #f9c19a;
}

.app-header {
  height: fit-content;
  width: 100%;
  color: white;
}

.app-logo {
  width: 100%;
}

.app-title {
  padding-top: 10px;
  font-weight: bold;
}

.burguer {
  color: #560f03;
}

#calendar-region {
  display: flex;
  justify-content: center;
}

nav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #6c0318;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  transform: translateX(-250px);
}

nav p {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

nav a {
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 25px;
  color: #f9c19a;
  display: block;
  transition: 0.3s;
}

nav a:hover {
  color: #f1f1f1;
}

nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.burger {
  font-size:30px;
  cursor:pointer;
}

.calendar-button {
  padding: 5px;
  margin: 5px;
  border: 0;
  border-radius: 4px;
  background-color: #560f03;
  color: #fff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #560f03;
  color: white;
  text-align: left;
  padding-left: 5px;
}
