.key-login, .news-add {
	margin: 10px;
}

.preview {
	/* border: 2px solid #000; */
	margin: 15px -10px 0px -10px;
	background-color: #6c0318;
	padding: 15px 10px;
}

.news-add h3, .key-login h3 {
	font-size: 20px;
	font-weight: bold;
	color: #b5202e;
	margin-bottom: 5px;
}

.news-add h1 {
	font-size: 25px;
	font-weight: bold;
	color: #b5202e;
	margin-bottom: 5px;
}

button, .btn {
	background-color: #f9c19a;
	border: 0;
	border-radius: 5px;
	margin: 5px;
	padding: 7px;
	font-weight: bold;
	color: #6c0318;
	text-decoration: none;
	font-size: 80%;
}

#Adicionar:disabled {
	background-color: #CCC;
	color: #555;
}