.news-item {
    outline-style: solid;
    margin: 20px;
    margin-top: 2px;
    padding: 20px;
    overflow-y: auto;
}

.news-titulo {

}

.news-resumo {

}

.news-texto {

}

.news-data {

}

.news-link {

}